.create-connector {
  &-page_breadcrumb {
    padding: 0px !important;
    border-bottom: 1px solid var(--pf-global--BorderColor--100);
    .pf-l-level {
      .pf-c-content {
        padding: 15px 0px;
      }
    }
  }
  &-page_wizard {
    height: auto;
    min-height: calc(100vh - 200px);

    .pf-c-wizard {
      &__nav-link{
        color: var(--pf-global--palette--green-500);

        &:before{
          background-color: var(--pf-global--palette--green-500);
          color: white;
        }

        &.pf-m-disabled{
          color: var(--pf-c-wizard__nav-link--Color);

          &:before{
            background-color: var(--pf-c-wizard__nav-link--Color);
            color: var(--pf-c-wizard__nav-link--Color);
          }
        }
        &.pf-m-current{
          color: var(--pf-global--active-color--100);
          
          &:before{
            background-color: var(--pf-global--active-color--100);
            color: white;
          }
          &.pf-m-disabled{
            color: var(--pf-global--active-color--100);
            &:before{
              background-color: var(--pf-global--active-color--100);
              color: white;
            }
          }
        }
        
      }
      &__nav-list {
        margin: 24px 5px;
        padding: 0 40px;
      }
      &__nav-item {
        margin-bottom: 30px;
        .pf-m-disabled {
          &:before {
            background-color: var(--pf-global--disabled-color--300);
          }
        }
      }
    }
  }
}
