.create-connector-page_breadcrumb {
  padding: 0px !important;
  border-bottom: 1px solid var(--pf-global--BorderColor--100);
}

.create-connector-page_wizard {
  height: auto;
  min-height: calc(100vh - 200px);
}
.create-connector-page_wizard .pf-c-wizard__nav-list {
  margin: 24px 5px;
  padding: 0 40px;
}
.create-connector-page_wizard .pf-c-wizard__nav-item {
  margin-bottom: 30px;
}
.create-connector-page_wizard .pf-c-wizard__nav-item .pf-m-disabled:before {
  background-color: var(--pf-global--disabled-color--300);
}

.create-connector-page_breadcrumb .pf-l-level .pf-c-content {
  padding: 15px 0px;
}
