.connectors-page{
  &_createButton {
    margin-top: var(--pf-c-empty-state__primary--MarginTop);
  }
  &_toolbarCreateButton {
    margin-bottom: var(--pf-global--spacer--sm);
  }  
  &_toolbarFlex {
    justify-content: space-between;
  }
}