.c-data-options{
  &__spacer{
    margin: 20px 0
  }
}

.data-options-component {
  &-grouping {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 30px;
  }
  &-mapping-title {
    margin-top: 30px;
  }
  &-expansion-content {
    @media screen and (min-width: 768px) {
      padding-left: 30px;
    }
  }
}
