.c-runtime-options{
  &__spacer{
    margin: 20px 0
  }
}

.runtime-options-component {
  &-heartbeat-title {
    margin-top: 30px;
  }
  &-expansion-content {
    @media screen and (min-width: 768px) {
      padding-left: 30px;
    }
  }
}
