.form-mask-or-truncate-component{
    &-column{
        margin-right: 20px;
        &-input{
            flex-grow:1;
        }
    }
    &-label{
        font-size: var(--pf-global--FontSize--sm);
    }
}